<%= form_with model: member, url: (member.persisted? ? forum_portal_member_path(member) : forum_portal_members_path), local: true do |form| %>
  <% if member.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0"><% member.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">First Name</label>
      <%= form.text_field :first_name, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <label class="form-label">Last Name</label>
      <%= form.text_field :last_name, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      <%= form.email_field :email, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <label class="form-label">Mobile</label>
      <%= form.text_field :mobile, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <label class="form-label">Chapter</label>
      <%= form.select :chapter_id, @chapters.map { |c| [c.name, c.id] }, {}, class: "form-select", required: true %>
    </div>
    <% unless member.persisted? %>
      <% if current_user.forum_admin? %>
        <div class="col-md-6">
          <label class="form-label">Role</label>
          <%= select_tag "user[user_type]", options_for_select([["Member", "member"], ["Chapter Admin", "chapter_admin"]]), class: "form-select" %>
        </div>
      <% end %>
      <div class="col-md-6">
        <label class="form-label">Password</label>
        <%= form.password_field :password, class: "form-control", required: true %>
      </div>
      <div class="col-md-6">
        <label class="form-label">Confirm Password</label>
        <%= form.password_field :password_confirmation, class: "form-control", required: true %>
      </div>
    <% end %>
  </div>

  <div class="mt-4 d-flex gap-2">
    <%= form.submit member.persisted? ? "Save" : "Add Member", class: "btn btn-primary" %>
    <%= link_to "Cancel", forum_portal_members_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
